traefik:

  service:
    type: ClusterIP
    externalIPs: ["81.27.97.243"]

  # Enables the dashboard in Secure Mode
  api:
    dashboard: false
    insecure: false

  providers:
    kubernetesIngress:
      enabled: true

  # Enable Observability
  logs:
    general:
      level: INFO
    # This enables access logs, outputting them to Traefik's standard output by default. The [Access Logs Documentation](https://doc.traefik.io/traefik/observability/access-logs/) covers formatting, filtering, and output options.
    access:
      enabled: true

  # Enables Prometheus for Metrics
  metrics:
    prometheus:
      enabled: true
