argocd:
  redis-ha:
    enabled: true

  controller:
    replicas: 1

  server:
    ingress:
      enabled: true
      ingressClassName: traefik
      tls: true
    autoscaling:
      enabled: true
      minReplicas: 2

  repoServer:
    autoscaling:
      enabled: true
      minReplicas: 2

  applicationSet:
    replicas: 2
  global:
    domain: uc-argo.anttirae.com

  certificate:
    enabled: true

